h1 {
    color: #00ff00;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;font-family: 'Roboto', sans-serif;
  }
  

  p {
    color:red;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-image: url("https://media.tenor.com/iVXx7UDvr8gAAAAC/barack-obama-shape.gif");
    
  }
