/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
  border: black;
  border-style: double;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px;
  filter: drop-shadow(0px 0px 4px #0e0e0e);
}

.main-image {
  display: flex;
  width: 80%;
  margin: 2vh auto 0;
  background: linear-gradient(
    326deg,
    rgba(255, 241, 0, 1) 0%,
    rgba(36, 245, 0, 1) 18%,
    rgba(0, 255, 220, 1) 37%,
    rgba(0, 136, 255, 1) 55%,
    rgba(173, 0, 255, 1) 72%,
    rgba(255, 0, 221, 1) 86%,
    rgba(255, 0, 0, 1) 100%
  );
  border-radius: 100%;
  border: black;
  border-style: dashed;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 0 2vw 0 2vw;
}

.title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: bold;
  color: rgb(0, 0, 0);
  margin: 1vw 0 1vw 0;
}

.subtitle {
  margin: 0 auto auto auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: regular;
  color: rgb(0, 0, 0);
}

p {
  font-family: "Inter", sans-serif;
  font-style: light;
  padding: 0.3rem 0 0 0;
  color: rgb(0, 0, 0);
}

.bottomLine {
  background-color: rgb(5, 202, 110);
}
