/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background-color: #e9c46a;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  outline: black;
}

.main-image {
  width: 80%;
  margin: 20px auto 0;
  padding: 30px 0px 30px 0px;
  display: block;
}

.title {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
