/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
  border: black;
  border-style: double;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px 20px 10px 20px;
  /* filter: drop-shadow(0px 0px 4px #0e0e0e); */
  border: #fce54c;
  border-style: solid;
  border-width: 18px;
  background: radial-gradient(#b58fcc, #7e4ea9);
}

.title-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.2rem 0 0.2rem 0;
  align-items: center;
  font-size: 12pt;
}

.title {
  text-align: left;
  justify-items: left;
}

.hp {
  text-align: right;
  justify-items: right;
  font-style: regular;
  font-weight: 400;
}

.main-image {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#mewtwo {
  width: 100%;
  border: #d0bc40;
  border-style: solid;
  border-width: 5px;
}

.poke-info {
  display: flex;
  background-color: #d0bc40;
  font-size: 7pt;
  font-style: italic;
  justify-content: space-around;
  padding: 2px;
  margin: 5px 12px 5px 12px;
}

#poke-info-tag {
  width: fit-content;
}

.attack-1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.star-type {
  width: 20px;
  height: 15px;
}

.attack-1-name {
  font-size: 13pt;
  padding-left: 20px;
}

.attack-1-power {
  font-size: 13pt;
  margin-left: auto;
  font-weight: 400;
}

.attack-1-text {
  margin-top: 5px;
  font-size: 8pt;
  font-weight: 400;
  margin-bottom: 10px;
}

.line {
  border-top: black;
  border-style: solid;
  border-width: 0.5px;
}

.attack-2 {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.psychic-type {
  width: 20px;
  height: 15px;
}

.attack-2-name {
  font-size: 13pt;
  padding-left: 20px;
}

.attack-2-power {
  font-size: 13pt;
  margin-left: auto;
  font-weight: 400;
}

.attack-2-text {
  margin-top: 5px;
  font-size: 8pt;
  font-weight: 400;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.type-flex {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.type-line {
  border-top: black;
  border-style: solid;
  border-width: 1px;
}

.type-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.type-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 8pt;
  font-weight: 400;
}

.type-weakness-info {
  margin-top: 15px;
  padding-left: 5px;
  font-size: 6pt;
  font-weight: 400;
}

.bottom-info {
  display: grid;
  /* justify-content: space-between; */
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.bottom-info-text-1 {
  font-size: 8pt;
  font-weight: 400;
  text-align: left;
}

.bottom-info-text-2 {
  font-size: 8pt;
  font-weight: 400;
  text-align: center;
}

.bottom-info-text-3 {
  font-size: 8pt;
  font-weight: 400;
  text-align: right;
}
