#bigheading {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 540px; /* set the maximum width of the container */
}

.item {
  width: 300px;
  height: 540px;
  background-color: #ccc;
  margin-top: 40px;
  padding: 2vw;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.container #tape {
  width: 70%;
}

.container .text {
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}
h2 {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}
